nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}

.nav-logo-container {
  display: flex;
  align-items: center;
}

.nav-logo-container h1 {
  margin: 0;
  text-align: left;
}

.navbar-links-container {
  display: flex;
  align-items: center;
}

.navbar-links-container a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: all 0.2s;
  margin-right: 2rem;
}

.navbar-links-container a:hover {
  color: #4c4c4c;
}

.navbar-menu-container {
  display: none; /* Esconde o container do menu hamburguer no desktop */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  nav {
    padding: 1rem;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    gap: 8px; /* Reduzido o gap para aproximar os elementos */
  }

  .nav-logo-container {
    justify-content: flex-start;
  }

  .nav-logo-container h1 {
    padding-left: 0;
  }

  .navbar-links-container .language-selector {
    display: none;
  }
} 